.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.header-section {
  height: 100vh;
  background: linear-gradient(to right, #458293, #282c34);
  color: white;
  position: relative;
  padding: 20px;
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: calc(100% - 60px);
  max-width: 1200px;
  margin: auto;
}

.left h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.highlight {
  color: #ffcc00;
}

.btn-group {
  margin-top: 20px;
}

.btn-primary {
  background: transparent;
  border: 2px solid #f5f3edaa;
  color: rgb(245, 240, 240);
  padding: 10px 20px;
  margin-right: 10px;
  border-radius: 5px;
  text-decoration: none;
}
.btn-primary:hover{
  background-color: #f7b801;
  color: #030303;
  border: #030303;
}

.btn-secondary {
  background: transparent;
  border: 2px solid #ffffffaa;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
}
.btn-secondary:hover{
  background-color: #f7b801;
  color: #030303;
  border: #030303;
}


.right img {
  width: 220px;
  border-radius: 50%;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.2);
}
.about{
  padding: 40px 20px;
  background-color: rgb(26, 26, 26);
  color: aliceblue;
  text-align: center;
  height: 200px;
}
.ab{
  color: #f7b801 ;
}
.skills-sec{
  background-color: black;
  color: antiquewhite;
}
.progress{
  height: 10px;
  margin-top: 10px;
  border-radius: 20px;
  overflow: hidden;
}
.s{
  color: gold;
}
.progress-bar{
  font-size: 0.75rem;
  line-height: 12px;
}
.navbar {
  display: flex;
  justify-content: flex-end;
  padding: 10px 40px;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 20px;
}

.nav-links li a {
  text-decoration: none;
  color: white;
  font-weight: 500;
  padding: 5px 10px;
}
.nav-links li a:hover{
  text-decoration: underline;
  color: darkmagenta;
}
.nav-links li a.active {
  background-color: orange;
  color: black;
  border-radius: 5px;
}
html {
  scroll-behavior: smooth;
}
.section-title {
  text-align: center;
  font-size: 2rem;
  margin: 2rem 0;
}
.projects-container {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  flex-wrap: wrap;
}
.pro{
  background-color: rgb(26, 26, 26);
  padding: 20px;
}
.section-title{
  color: #f7b801;
}
.project-card {
  width: 300px;
  padding: 1rem;
  background: #030303;
  color: #ddd;
  border: 1px solid #ddd;
  border-radius: 10px;
  text-align: left;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.project-image {
  width: 100%;
  height: 160px;
  object-fit: cover;
  border-radius: 6px;
}

.project-card h3 {
  margin: 0.5rem 0;
}

.project-card p {
  font-size: 0.9rem;
  color: bisque;
}

.tech-stack {
  margin: 0.5rem 0;
}

.badge {
  display: inline-block;
  background-color: #a18b1d;
  color: rgb(9, 8, 8);
  padding: 0.3rem 0.6rem;
  margin: 0.2rem;
  border-radius: 5px;
  font-size: 0.75rem;
}

.btn-group {
  display: flex;
  gap: 0.5rem;
  margin-top: 1rem;
}

.btn {
  padding: 0.4rem 0.8rem;
  border-radius: 5px;
  text-decoration: none;
  font-size: 0.85rem;
  transition: 0.3s;
}

.code-btn {
  background-color: #e7dfdf;
  color: burlywood;
  font-weight: 700;
}

.demo-btn {
  background-color: #007bff;
  color: white;
  font-weight: 800;
}

.btn:hover {
  opacity: 0.8;
  color: darkred;
}
.contact-section {
  padding: 60px 20px;
  text-align: center;
  background-color: #030303;
  color: white;
}
.g{
  color: gold;
}

.contact-info {
  display: flex;
  justify-content: center;
  gap: 50px;
  margin-top: 30px;
  flex-wrap: wrap;
}

.contact-info h4 {
  margin-bottom: 5px;
}

.social-links {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.social-links a {
  padding: 10px 20px;
  border: 1px solid white;
  border-radius: 5px;
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 10px;
  transition: background 0.3s ease;
}

.social-links a:hover {
  background-color: white;
  color: black;
}

.footer {
  margin-top: 40px;
  font-size: 14px;
  color: peru;
}